<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/retrain.css" crossorigin="anonymous">


    <title>Retrain</title>
  </head>

  <body>
    <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5 resultbox">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Congrats! </h5>
                <p> You have sucessfully retrained your model. Let's see if you get better results! </p>
                <br>
                <div class="col text-center">
                <form action="/">
                  <button class="btn btn-lg btn-outline-info text-uppercase" type="submit">Get New Recommendation</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </body>
</html>
